body {
    color: white;
    background-color:rgb(62, 143, 62);
}
.heading{
    width:80%;
    font-size:24px;
}
.objects{
    color:rgb(148, 148, 202);
    font-size: 17px;

}
#camera{
    border:2px dashed rgb(50, 50, 100);
    width:350px;
    height:300px;
}

#results,#accuracy{
    color : rgb(135, 201, 143);
    font-size:20px;
}

